/evaluator/__pycache__
/evaluator/interpreter/__pycache__
/evaluator/interpreter/stages/__pycache__
/evaluator/protocols/__pycache__
/evaluator/sandbox/__pycache__
/evaluator/sandbox/workers/__pycache__
/tests/__pycache__
/tests/test_interpreter/__pycache__
/tests/test_interpreter/test_stages/__pycache__
/tests/test_ipc/__pycache__
/__pycache__
/.mypy_cache
/.pytest_cache
/tester.py
/.vscode
/.idea
/ulohy.txt